#default {
  height: 500px;
  width: 485px;
}

#mouseover {
  display: none;
  border: 1px solid black;
  z-index: 1000;
  height: 100px;
  width: 100px;
  position: absolute;
  cursor: pointer;
}

#crop {
  overflow: hidden;
  height: 500px;
  width: 485px;
  position: relative;
  display: inline-block;
}

#zoomed-in {
  zoom: 1;
  position: absolute;
  left: -50%;
  top: -50%;
}